.header {
  border-bottom: 2px solid var(--border);
  margin-bottom: 40px;
}

.header__wrap {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 15px 0 12px 16px;
}

.header__link {
  display: flex;
  gap: 10px;
}

.header__anchor-link,
.header__link {
  align-items: center;
  transition: opacity ease-in 0.3s;
}

.header__link:hover,
.header__anchor-link:hover {
  opacity: 0.8;
}

.header__logo {
  background-color: var(--green);
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 12px;
}

.header__inner {
  display: flex;
  flex-direction: column;
}

.header__title {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 600;
  color: var(--title);
}

.header__slogan {
  color: var(--text);
  font-size: 14px;
}

.header__anchor-link-icon {
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  border: 2px solid var(--brown);
}

.header__anchor-link {
  display: none;
}

@media screen and (max-width: 1023px) {
  .header__anchor-link {
    display: flex;
  }
}
