.main-page {
  margin-bottom: 50px;
}

.main-page__wrap {
  display: grid;
  grid-template-columns: calc(1350 / 1680 * 100%) 1fr;
  gap: 75px 30px;
}

.main-page__inner {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  /* grid-row: 2; */
}

.main-page__title {
  font-family: 'Playfair Display', serif;
  color: var(--title);
  margin: 0;
}

.main-page__text {
  color: var(--text);
  margin: 0;
}
