.main-page {
  margin-bottom: 50px;
}

.main-page__wrap {
  display: grid;
  grid-template-columns: 80% 1fr;
  gap: 0 24px;
}

.main-page__inner,
.main-page__search {
  margin: 0 auto;
  grid-column: span 2;
}

.main-page__inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 25px;
  text-align: center;
}

.main-page__title {
  font-family: 'Playfair Display', serif;
  color: var(--title);
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.main-page__text {
  max-width: 680px;
  color: var(--text);
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.main-page__search {
  margin-bottom: 70px;
  width: 100%;
  max-width: 780px;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .main-page__wrap {
    grid-template-columns: 75% 1fr;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1199px) {
  .main-page__wrap {
    grid-template-columns: 70% 1fr;
  }
}

@media screen and (max-width: 1023px) {
  .main-page__wrap {
    grid-template-columns: 1fr;
  }

  .main-page__inner,
  .main-page__search {
    grid-column: span 1;
  }
}

@media screen and (max-width: 599px) {
  .main-page__title {
    font-size: 35px;
  }

  .main-page__text {
    font-size: 16px;
  }
}
