/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Source+Sans+3:wght@300;400;500;600&display=swap');
/* global */
@import './global.css';
/* util */
@import './utils/normalize.css';
@import './utils/container.css';
/* layout */
@import './layout/header.css';
@import './layout/footer.css';
@import './layout/main-page.css';
@import './layout/search.css';
@import './layout/favorites.css';
