.card-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px 20px;
  align-content: start;
}

.card-list--favorite {
  display: flex;
  flex-direction: column;
  gap: 0;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 799px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
